/*.main-tables-container {
    display: flex;
    width: 930px;
    margin: 0 auto;
}*/
.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.plans-container--slider {
    justify-content: center;
}

.bitcoin-img-container {
    background-image: url("../assets/img/bitcoinbabytablet.png");
}

.main-exchange-container {
    display: inline-block;
    width: 40%;
}

.main-tables-container {
    width: 60%;
    margin: 0 auto;
    width: 60%;
    float: right;
    display: flex;
    justify-content: center;
    position: relative;
    top: 75px;
}





